* {
  font-family: "Open Sans", sans-serif;
  text-align: center;
}

h1 {
  font-size: 80px;
}

#separator {
  height: 20px;
}

.fab {
  font-size: 80px;
  flex: 1;
  padding-left: 30px;
  padding-right: 30px;
}

.fa-linkedin {
  color: #0e76a8;
}

.fa-github {
  color: black;
}

.icon-container {
  display: flex;
}
