{{- with $.Site.Params.homeInfoParams }}
<article class="first-entry home-info" style="text-align: center;
margin: calc(var(--gap) * 0.5) 0 0 0">
    <img src="img/portrait.jpg" alt="profile" height="{{ .imageHeight | default 150 }}"
        width="{{ .imageWidth | default 150 }}" style="border-radius: 50%;
        pointer-events: none;
        margin-left: auto;
        margin-right: auto;" />
    <header class="entry-header">
        <h1>{{ .Title | markdownify }}</h1>
    </header>
    <section class="entry-content" style="margin-top: calc(var(--gap) * 0.9);
    margin-bottom: calc(var(--gap) * 0.4)">
        <p>{{ .Content | markdownify }}</p>
    </section>
    <footer class="entry-footer">
        {{ partial "social_icons.html" $.Site.Params.socialIcons }}
    </footer>
</article>
{{- end -}}