{{- with $.Site.Params.homeInfoParams }}
<article class="first-entry home-info">
    <img src="img/portrait.jpg" alt="profile" height="{{ .imageHeight | default 150 }}"
        width="{{ .imageWidth | default 150 }}" style="border-radius: 50%;
        pointer-events: none;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 15px;
        margin-top: -20px" />
    <header class="entry-header">
        <h1>{{ .Title | markdownify }}</h1>
    </header>
    <section class="entry-content">
        <p>{{ .Content | markdownify }}</p>
    </section>
    <footer class="entry-footer">
        {{ partial "social_icons.html" $.Site.Params.socialIcons }}
    </footer>
</article>
{{- end -}}